/*
	Author: MD Rakibul Hassan Rifat

*/

/*
  ===========Index==========
	01) Import Section
	02) Variable Section
	03) Global CSS Section
	04) Header Section
	05) Hero Section
	06) About Section
	07) Templates Section
	08) Features Section
	09) Project Section
	10) Template Section
	11) Contact Section
	12) Footer Section
  ===========================
*/
/*==========01) Import Section Start==========*/


/*==========01) Import Section End==========*/

/*==========02) Variable Section Start==========*/
:root{
	/*=======Color=======*/
	--bg-color:#ffffff;;
	--blue-color:#231f20;
	--span-color:#f25d27;
	--primary-color:#f25d27;
	--border:#f25d27;
	--dark:#000;
	--gray:#4f6078;

}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*==========02) Variable Section End==========*/

/*==========03) Global Section Start==========*/
body{
	background-color:var(--bg-color);
}
section{
	padding: 90px 0;
}
h1{
	font-size: 45px;
	font-family: 'Open Sans', sans-serif;
}
h2{
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
}
h4{
	font-family: 'Open Sans', sans-serif;
	color: var(--blue-color);
	line-height: normal;
	font-size: 18px;
}
span{
	color: var(--span-color);
}
p{
	font-size: 14px;
	line-height: 2;
	color: var(--span-color);
}
.btn{
	border: 2px solid var(--border);
	color: var(--blue-color) !important;
	padding: 15px 30px;
	border-radius: 30px;
	margin-top: 30px;
	font-family: 'Open Sans', sans-serif;
}
.btn:hover{
	background: var(--primary-color);
	outline: none;
	box-shadow: none;
	color: var(--white);
}
svg{
	color: var(--primary-color);
	font-size: 35px !important;
}
.nav_fixed{
	position: fixed;
	width: 100%;
	top: -1px;
	left: 0;
	right: 0;
	background:var(--primary-color);
	box-shadow: var(--box-shadow);
	opacity: 0.7;
	z-index: 999;
	transition: nav 1s ease;
	padding: 0 1rem;
}
.sec{
	color: var(--dark) !important;
}
.sec:hover{
	color: var(--blue-color) !important;
}
/*==========03) Global Section End==========*/

/*==========04) Header Section Start==========*/
#header .nav{
	background-color: var(--bg-color) !important;
}
#header .navbar-brand img{
	filter: brightness(0) invert(1);
	width: 65%;
}
#header .navbar-dark .navbar-toggler{
	border: none;
	outline: none;
}
#header .navbar-toggler span{
	font-size: 25px;
}
#header .nav-item a{
	font-family:'Open Sans', sans-serif;
	text-transform: uppercase;
	color:var(--blue-color);
}
/*==========04) Header Section End==========*/

/*==========05) Hero Section Start==========*/

/*==========05) Hero Section End==========*/

/*==========06) About Section Start==========*/
#about{
	background: url(../img/hero-bg.png)center no-repeat;
}
/*==========06) About Section End==========*/




/*==========11) Contact Section Start==========*/
#features .features-body p,
#project p,
#contact .contact-text{
	color: var(--gray);
}

/*==========11) Contact Section End==========*/
#contact, .footer{
	background:var(--grey);
}
#contact .contact-heading{
		width: 60%;
		text-align: center;
		margin: 0 auto;
		padding-bottom: 45px;
}
/*==========12) Footer Section Start==========*/
.footer .container{
		border-top: 1px solid var(--gray);
		border-color: var(--span-color);
		padding-top: 10px;
}
.footer ul{
	padding-left: 0;
}
.footer ul li{
	list-style-type: none;
	display: inline-block;
	margin: 0 5px;
}
.footer ul li:hover a{
	text-decoration: none;
	color: var(--primary-color);
}
.footer ul li a{
	color: var(--span-color);
}
.footer .copyright p{
	color: var(--span-color);
}
/*==========12) Footer Section End==========*/